.intro{
  font-size: medium;
  font-weight: normal;
  color: red;
  }

.fancy{
  font-weight: bolder;
  color: black;
}

.darktheme{
  background-color: black;
  color:burlywood;
}

.lighttheme{
  background-color: cornflowerblue;
  color: black;
}