.intro{
  font-size: medium;
  font-weight: normal;
  color: red;
  }


.darktheme{
  background-color: black;
  color:burlywood;
}

.lighttheme{
  background-color: cornflowerblue;
  color: black;
}

p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}

.clicked {
  background: yellow;
}

.fancy{
  font-weight: bolder;
  color: black;
}

.MyClass {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}